*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
 }
a{
    text-decoration: none;
}

 /* all common css end */
.header{
    background: #fff;
    position: relative;
}
.menu{
    width: 1450px;
  margin: 0 auto;
  text-align: left;

}

.menu ul li {
    display:  inline-block;
}
.menu ul li a{
    color: black;
    font-size: 20px;
    line-height: 70px;
    padding: 0px 15px;
}
.menu img{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
.img0{
    position: absolute;
left: 90%;
top: 50%;
transform: translate(-10%,-50%);
}
.ik{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.header2 ul li a{
    color: black;
    font-size: 40px;
    line-height: 90px;
    padding: 0px 20px;

}
.header2 ul li {
    display:  inline-block;
}
.header2{
    width: 1450px;
    margin: 0 auto;
    text-align: center;
    background: white;
}
.tecw h1{
    font-size: 60px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.tecw h2{
    position: absolute;
    top: 350px;
    left: 200px;
    
}
.photo{
    position: absolute;
    top: 200px;
    left: 700px;  
}
